<div class="dashboard-card todays-plan">

    <div class="section-header">

        <h3>Today's Plan</h3>

        <a href="#">View Full Itinerary</a>

    </div>

    <div class="plan-list">

        <div class="plan-item">

            <div class="plan-time">
                10:00 AM
            </div>

            <div class="plan-dot blue"></div>

            <div class="plan-content">

                <h6>Team Birthday Celebration</h6>

                <span>Office Lounge</span>

            </div>

        </div>


        <div class="plan-item">

            <div class="plan-time">
                07:00 PM
            </div>

            <div class="plan-dot green"></div>

            <div class="plan-content">

                <h6>Dinner with Friends</h6>

                <span>The Italian Place</span>

            </div>

        </div>


        <div class="plan-item">

            <div class="plan-time">
                09:30 PM
            </div>

            <div class="plan-dot purple"></div>

            <div class="plan-content">

                <h6>Movie Night</h6>

                <span>PVR Select Citywalk</span>

            </div>

        </div>

    </div>

</div>