<div class="celebration-header">

    <div class="celebration-header-left">

        <h1>My Events</h1>

        <p>
            Your lifetime events, memories and milestones in one place.
        </p>

    </div>

    <div class="celebration-header-right">

        <a asp-controller="Events" asp-action="Create" class="btn-create-celebration">

            <i class="bi bi-plus-lg"></i>

            Create Event

        </a>

    </div>

</div>