<div class="celebration-card">

    <div class="celebration-image">

        <img src="~/images/udaipur.jpg" alt="Birthday" />

        <button class="favorite-btn">
            <i class="bi bi-heart"></i>
        </button>

    </div>

    <div class="celebration-content">

        <h3>Son's Birthday</h3>

        <span class="status upcoming">
            Upcoming
        </span>

        <p>
            Our little star's special day.
            Planning a surprise party!
        </p>

        <div class="celebration-footer">

            <span>
                <i class="bi bi-people"></i>
                Family
            </span>

            <span>
                <i class="bi bi-house"></i>
                Home
            </span>

            <span>
                <i class="bi bi-person"></i>
                12 Guests
            </span>

            <button class="more-btn">

                <i class="bi bi-three-dots-vertical"></i>

            </button>

        </div>

    </div>

    <div class="celebration-date">

        <span class="month">
            JUL
        </span>

        <span class="day">
            11
        </span>

        <span class="year">
            2026
        </span>

    </div>

</div>